ul.lst-kix_pkirxo51ezn0-0 {
  list-style-type: none;
}

ul.lst-kix_pkirxo51ezn0-1 {
  list-style-type: none;
}

.lst-kix_2naiq1djyjd4-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_pkirxo51ezn0-2 {
  list-style-type: none;
}

.lst-kix_2naiq1djyjd4-4 > li:before {
  content: "\0025cb   ";
}

.lst-kix_2naiq1djyjd4-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_2naiq1djyjd4-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_2naiq1djyjd4-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_pkirxo51ezn0-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_2naiq1djyjd4-1 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_pkirxo51ezn0-7 {
  list-style-type: none;
}

.lst-kix_pkirxo51ezn0-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_pkirxo51ezn0-4 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_pkirxo51ezn0-8 {
  list-style-type: none;
}

ul.lst-kix_pkirxo51ezn0-3 {
  list-style-type: none;
}

ul.lst-kix_pkirxo51ezn0-4 {
  list-style-type: none;
}

.lst-kix_pkirxo51ezn0-5 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_pkirxo51ezn0-5 {
  list-style-type: none;
}

ul.lst-kix_pkirxo51ezn0-6 {
  list-style-type: none;
}

.lst-kix_40r7nuqo2g4y-5 > li:before {
  content: "\0025a0   ";
}

.lst-kix_40r7nuqo2g4y-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_40r7nuqo2g4y-4 > li:before {
  content: "\0025cb   ";
}

.lst-kix_40r7nuqo2g4y-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_5uqh2n7bc1-8 {
  list-style-type: none;
}

.lst-kix_40r7nuqo2g4y-7 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_5uqh2n7bc1-7 {
  list-style-type: none;
}

.lst-kix_pkirxo51ezn0-1 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_5uqh2n7bc1-6 {
  list-style-type: none;
}

ul.lst-kix_5uqh2n7bc1-5 {
  list-style-type: none;
}

ul.lst-kix_5uqh2n7bc1-4 {
  list-style-type: none;
}

ul.lst-kix_5uqh2n7bc1-3 {
  list-style-type: none;
}

.lst-kix_pkirxo51ezn0-0 > li:before {
  content: "\0025cf   ";
}

ul.lst-kix_5uqh2n7bc1-2 {
  list-style-type: none;
}

ul.lst-kix_5uqh2n7bc1-1 {
  list-style-type: none;
}

ul.lst-kix_5uqh2n7bc1-0 {
  list-style-type: none;
}

.lst-kix_40r7nuqo2g4y-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_2naiq1djyjd4-5 > li:before {
  content: "\0025a0   ";
}

.lst-kix_mzinmzhxmd5x-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_40r7nuqo2g4y-1 > li:before {
  content: "\0025cb   ";
}

.lst-kix_40r7nuqo2g4y-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_mzinmzhxmd5x-5 > li:before {
  content: "\0025a0   ";
}

.lst-kix_2naiq1djyjd4-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_mzinmzhxmd5x-4 > li:before {
  content: "\0025cb   ";
}

.lst-kix_40r7nuqo2g4y-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_2naiq1djyjd4-7 > li:before {
  content: "\0025cb   ";
}

.lst-kix_mzinmzhxmd5x-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_mzinmzhxmd5x-1 > li:before {
  content: "\0025cb   ";
}

.lst-kix_mzinmzhxmd5x-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_mzinmzhxmd5x-0 > li:before {
  content: "\0025cf   ";
}

ul.lst-kix_ic6dcmsmelsv-7 {
  list-style-type: none;
}

.lst-kix_94l18xo1oekp-7 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_ic6dcmsmelsv-8 {
  list-style-type: none;
}

.lst-kix_94l18xo1oekp-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_94l18xo1oekp-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_ic6dcmsmelsv-3 {
  list-style-type: none;
}

ul.lst-kix_ic6dcmsmelsv-4 {
  list-style-type: none;
}

ul.lst-kix_ic6dcmsmelsv-5 {
  list-style-type: none;
}

.lst-kix_phnwkhflqtsp-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_ic6dcmsmelsv-6 {
  list-style-type: none;
}

.lst-kix_phnwkhflqtsp-5 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_ic6dcmsmelsv-0 {
  list-style-type: none;
}

ul.lst-kix_ic6dcmsmelsv-1 {
  list-style-type: none;
}

ul.lst-kix_ic6dcmsmelsv-2 {
  list-style-type: none;
}

.lst-kix_phnwkhflqtsp-7 > li:before {
  content: "\0025cb   ";
}

.lst-kix_phnwkhflqtsp-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_pkirxo51ezn0-7 > li:before {
  content: "\0025cb   ";
}

.lst-kix_pkirxo51ezn0-8 > li:before {
  content: "\0025a0   ";
}

.lst-kix_94l18xo1oekp-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_pkirxo51ezn0-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_94l18xo1oekp-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_94l18xo1oekp-4 > li:before {
  content: "\0025cb   ";
}

.lst-kix_94l18xo1oekp-5 > li:before {
  content: "\0025a0   ";
}

.lst-kix_94l18xo1oekp-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_94l18xo1oekp-1 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_40r7nuqo2g4y-0 {
  list-style-type: none;
}

ul.lst-kix_40r7nuqo2g4y-2 {
  list-style-type: none;
}

.lst-kix_5uqh2n7bc1-3 > li:before {
  content: "\0025cf   ";
}

ul.lst-kix_40r7nuqo2g4y-1 {
  list-style-type: none;
}

ul.lst-kix_40r7nuqo2g4y-4 {
  list-style-type: none;
}

.lst-kix_5uqh2n7bc1-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_5uqh2n7bc1-4 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_40r7nuqo2g4y-3 {
  list-style-type: none;
}

ul.lst-kix_40r7nuqo2g4y-6 {
  list-style-type: none;
}

.lst-kix_5uqh2n7bc1-1 > li:before {
  content: "\0025cb   ";
}

.lst-kix_5uqh2n7bc1-5 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_40r7nuqo2g4y-5 {
  list-style-type: none;
}

ul.lst-kix_40r7nuqo2g4y-8 {
  list-style-type: none;
}

ul.lst-kix_40r7nuqo2g4y-7 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-5 {
  list-style-type: none;
}

.lst-kix_5uqh2n7bc1-7 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_mzinmzhxmd5x-4 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-7 {
  list-style-type: none;
}

.lst-kix_5uqh2n7bc1-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_5uqh2n7bc1-6 > li:before {
  content: "\0025cf   ";
}

.lst-kix_5uqh2n7bc1-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_mzinmzhxmd5x-6 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-1 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-0 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-3 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-2 {
  list-style-type: none;
}

ul.lst-kix_mzinmzhxmd5x-8 {
  list-style-type: none;
}

.lst-kix_phnwkhflqtsp-1 > li:before {
  content: "\0025cb   ";
}

.lst-kix_phnwkhflqtsp-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_phnwkhflqtsp-4 > li:before {
  content: "\0025cb   ";
}

.lst-kix_phnwkhflqtsp-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_phnwkhflqtsp-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_ic6dcmsmelsv-1 > li:before {
  content: "\0025cb   ";
}

.lst-kix_ic6dcmsmelsv-0 > li:before {
  content: "\0025cf   ";
}

.lst-kix_ic6dcmsmelsv-6 > li:before {
  content: "\0025cf   ";
}

ul.lst-kix_2naiq1djyjd4-0 {
  list-style-type: none;
}

.lst-kix_ic6dcmsmelsv-5 > li:before {
  content: "\0025a0   ";
}

.lst-kix_ic6dcmsmelsv-7 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_2naiq1djyjd4-1 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-2 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-3 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-4 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-5 {
  list-style-type: none;
}

.lst-kix_ic6dcmsmelsv-2 > li:before {
  content: "\0025a0   ";
}

.lst-kix_mzinmzhxmd5x-7 > li:before {
  content: "\0025cb   ";
}

.lst-kix_ic6dcmsmelsv-3 > li:before {
  content: "\0025cf   ";
}

.lst-kix_mzinmzhxmd5x-8 > li:before {
  content: "\0025a0   ";
}

.lst-kix_ic6dcmsmelsv-4 > li:before {
  content: "\0025cb   ";
}

ul.lst-kix_2naiq1djyjd4-6 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-7 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-7 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-6 {
  list-style-type: none;
}

ul.lst-kix_2naiq1djyjd4-8 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-5 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-4 {
  list-style-type: none;
}

.lst-kix_ic6dcmsmelsv-8 > li:before {
  content: "\0025a0   ";
}

ul.lst-kix_94l18xo1oekp-8 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-8 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-7 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-6 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-5 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-3 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-2 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-1 {
  list-style-type: none;
}

ul.lst-kix_94l18xo1oekp-0 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-0 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-4 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-3 {
  list-style-type: none;
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

ul.lst-kix_phnwkhflqtsp-2 {
  list-style-type: none;
}

ul.lst-kix_phnwkhflqtsp-1 {
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c34 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 81pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c1 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 117pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c8 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 387pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}

.c37 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c16 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1pt;
  font-family: "Arial";
  font-style: normal;
}

.c39 {
  padding-top: 10pt;
  padding-bottom: 3pt;
  line-height: 1.38;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c15 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-family: "Arial";
  font-style: normal;
}

.c4 {
  padding-top: 16pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c20 {
  padding-top: 20pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c25 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}

.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c24 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Arial";
  font-style: normal;
}

.c9 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}

.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 2pt;
  font-family: "Arial";
  font-style: normal;
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c12 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c21 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c28 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}

.c26 {
  color: #434343;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}

.c42 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c29 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}

.c36 {
  padding-top: 16pt;
  padding-bottom: 4pt;
  line-height: 1.38;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c31 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 3pt;
  font-family: "Arial";
  font-style: normal;
}

.c14 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}

.c33 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c35 {
  margin-left: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c40 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 7pt 7pt 7pt 7pt;
}

.c30 {
  padding: 0;
  margin: 0;
}

.c11 {
  color: inherit;
  text-decoration: inherit;
}

.c17 {
  background-color: #cccccc;
}

.c38 {
  height: 22.4pt;
}

.c18 {
  margin-left: 36pt;
}

.c10 {
  height: 11pt;
}

.c22 {
  padding-left: 0pt;
}

.c41 {
  font-size: 26pt;
}

.c7 {
  font-size: 10pt;
}

.c19 {
  font-size: 12pt;
}

.c32 {
  font-size: 14pt;
}

.c27 {
  color: #000000;
}

.c0 {
  height: 0pt;
}

.c6 {
  font-weight: 700;
}

.c23 {
  font-size: 11pt;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
